<h3> DataTable with data as a Daru::DataFrame </h3>
<p>
  <b>Data : </b>
  <%=raw @table_df.data %>
  <br>
  <b>Options : </b>
  <%=raw @table_df.options %>
  <br>
  <b>HTML Options : </b>
  <%=raw @table_df.html_options %>
  <br>
  <b>Chart : </b>
  <br>
  <%=raw @table_df.to_html %>
</p>
<br>